
.vs/DesktopHide/v16/.suo
bin/x64/Debug/DesktopHide.exe
bin/x64/Debug/DesktopHide.exe.config
bin/x64/Debug/DesktopHide.pdb
bin/x64/Debug/DevExpress.Data.Desktop.v20.2.xml
bin/x64/Debug/DevExpress.Data.v20.2.xml
bin/x64/Debug/DevExpress.Pdf.v20.2.Core.xml
bin/x64/Debug/DevExpress.Pdf.v20.2.Drawing.xml
bin/x64/Debug/DevExpress.Printing.v20.2.Core.xml
bin/x64/Debug/DevExpress.Sparkline.v20.2.Core.xml
bin/x64/Debug/DevExpress.Utils.v20.2.xml
bin/x64/Debug/DevExpress.XtraBars.v20.2.xml
bin/x64/Debug/DevExpress.XtraEditors.v20.2.xml
obj/x64/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
obj/x64/Debug/Costura/0945A9AD4A248D6CAA4364EB8B3706513FDFD45A.costura.devexpress.data.desktop.v20.2.dll.compressed
obj/x64/Debug/Costura/0BB7C6F8360580BF6851DDFEBD6DED14796420A7.costura.devexpress.pdf.v20.2.drawing.dll.compressed
obj/x64/Debug/Costura/19152FD463BAA8AD9ACFBD7EEF1019BAF4A5589B.costura.ja.devexpress.xtrabars.v20.2.resources.dll.compressed
obj/x64/Debug/Costura/1B0A54607531B1ED6A9DDAE1159DA6875C8DBAED.costura.es.devexpress.data.v20.2.resources.dll.compressed
obj/x64/Debug/Costura/24AC6007D60CE4F9ECA170F83153BDC70FB324F5.costura.ru.devexpress.pdf.v20.2.core.resources.dll.compressed
obj/x64/Debug/Costura/327A3E77538A60156A86A6A007901A022EFE8CCF.costura.devexpress.sparkline.v20.2.core.dll.compressed
obj/x64/Debug/Costura/3549D6AA22C1D1681701F2B1D2B72FF90B27E993.costura.de.devexpress.pdf.v20.2.core.resources.dll.compressed
obj/x64/Debug/Costura/3632B51BEB200559D177186DD7503324F6A3FA31.costura.ja.devexpress.data.v20.2.resources.dll.compressed
obj/x64/Debug/Costura/3816F418D909AF3636F3D5B9BF5C5F47DF0DB3B1.costura.ja.devexpress.sparkline.v20.2.core.resources.dll.compressed
obj/x64/Debug/Costura/4485EE9C78F4FC006EB209C565E81D6B3EFF5296.costura.de.devexpress.utils.v20.2.resources.dll.compressed
obj/x64/Debug/Costura/479EE292FBB0AB041F559FA1042B39F71BCCE4AE.costura.ru.devexpress.xtraeditors.v20.2.resources.dll.compressed
obj/x64/Debug/Costura/47C785CBB7B8585C15AD41C37F48F6A886DAB02D.costura.es.devexpress.sparkline.v20.2.core.resources.dll.compressed
obj/x64/Debug/Costura/495E73C5F76124C23AA7CBF2D4F3E5A2DA9F4581.costura.de.devexpress.sparkline.v20.2.core.resources.dll.compressed
obj/x64/Debug/Costura/533E36B51370652D7FCEFF785CC8EEF45CBF507B.costura.ru.devexpress.data.v20.2.resources.dll.compressed
obj/x64/Debug/Costura/5769EB405E3B504CA585C94B06A22CE0BF135BBA.costura.ja.devexpress.printing.v20.2.core.resources.dll.compressed
obj/x64/Debug/Costura/5954E332EC7732BA34C27E2D88D154D1919C1B07.costura.costura.dll.compressed
obj/x64/Debug/Costura/748A695561D1BEA972599C3377F35730C950AAFC.costura.ru.devexpress.sparkline.v20.2.core.resources.dll.compressed
obj/x64/Debug/Costura/770D96ADFEF213E7435DF7E9518CFBACCAC2D683.costura.ja.devexpress.xtraeditors.v20.2.resources.dll.compressed
obj/x64/Debug/Costura/79774C80FDDE57350334364A1BEEF35635406979.costura.de.devexpress.xtrabars.v20.2.resources.dll.compressed
obj/x64/Debug/Costura/7AFDB5DF125D338E51D1CD08D0886B339BE5C6FA.costura.es.devexpress.xtraeditors.v20.2.resources.dll.compressed
obj/x64/Debug/Costura/7B1CF6A9D294C7D3CAEC66E552D4F1D0638744B0.costura.devexpress.data.v20.2.dll.compressed
obj/x64/Debug/Costura/7DC9450C6FDCA4DDF8A5421FE43E5755F2F4BD74.costura.devexpress.xtraeditors.v20.2.dll.compressed
obj/x64/Debug/Costura/8A7EE76D1E53BDC80D9E1FD6089C87ED45D1B67D.costura.es.devexpress.utils.v20.2.resources.dll.compressed
obj/x64/Debug/Costura/90FACD7F0A3D203C8C6A5E7D5AED39FFC4779918.costura.de.devexpress.data.v20.2.resources.dll.compressed
obj/x64/Debug/Costura/93C4CCFE5CFB8F24E3CED8EBC1697AF2B91B3AED.costura.de.devexpress.printing.v20.2.core.resources.dll.compressed
obj/x64/Debug/Costura/9E0F840F0AB8DBF69A08BEEB9E9A82635696EA7B.costura.ru.devexpress.printing.v20.2.core.resources.dll.compressed
obj/x64/Debug/Costura/A338ACD2FF45251A027731423C2827CF2146D31C.costura.devexpress.xtrabars.v20.2.dll.compressed
obj/x64/Debug/Costura/BD581B929C4A5B7ED759A23445E4758FE5504D48.costura.ru.devexpress.xtrabars.v20.2.resources.dll.compressed
obj/x64/Debug/Costura/BF9FF5410F05F1E26499250A0827C8352D52B87A.costura.es.devexpress.pdf.v20.2.core.resources.dll.compressed
obj/x64/Debug/Costura/C20649CA3854B9CCE3FE3286CF7328D3E38F5628.costura.de.devexpress.xtraeditors.v20.2.resources.dll.compressed
obj/x64/Debug/Costura/C73EC38D731595FA57812391B4A8FBDE553E666D.costura.devexpress.utils.v20.2.dll.compressed
obj/x64/Debug/Costura/C7D53B59A3972FB3A0764A1C2352CD4FE5EA938A.costura.ja.devexpress.pdf.v20.2.core.resources.dll.compressed
obj/x64/Debug/Costura/CEE745E77654CC9A7428ED340689853B6F30BC8B.costura.ru.devexpress.utils.v20.2.resources.dll.compressed
obj/x64/Debug/Costura/E7340C2B4D62B98465BC4ED6CC99A93235F9C3E1.costura.devexpress.printing.v20.2.core.dll.compressed
obj/x64/Debug/Costura/EF68ADCEDEE7550140011DBBF6C1A26264630B2C.costura.es.devexpress.xtrabars.v20.2.resources.dll.compressed
obj/x64/Debug/Costura/F1103CA6C7B6E1EEC5C9A541343EBF62C251B5DD.costura.ja.devexpress.utils.v20.2.resources.dll.compressed
obj/x64/Debug/Costura/F15198B568E4B42A410996FB4AFE9C6D3E49ECCE.costura.es.devexpress.printing.v20.2.core.resources.dll.compressed
obj/x64/Debug/Costura/F8C56E1CE3ABDA7D21F931B539B394F2AE910266.costura.devexpress.pdf.v20.2.core.dll.compressed
obj/x64/Debug/DesktopHide.csproj.CopyComplete
obj/x64/Debug/DesktopHide.csproj.CoreCompileInputs.cache
obj/x64/Debug/DesktopHide.csproj.FileListAbsolute.txt
obj/x64/Debug/DesktopHide.csproj.Fody.CopyLocal.cache
obj/x64/Debug/DesktopHide.csproj.GenerateResource.cache
obj/x64/Debug/DesktopHide.csprojAssemblyReference.cache
obj/x64/Debug/DesktopHide.exe
obj/x64/Debug/DesktopHide.pdb
obj/x64/Debug/DesktopHide.Properties.Resources.resources
obj/x64/Debug/DesktopHide.Splash.resources
.vs/DesktopHide/v16/.suo
